<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBusQh3xI2fdkQDjyB_NbDvWQB9RIU4oX4</string>
	<key>GCM_SENDER_ID</key>
	<string>926935124108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.firebase-test</string>
	<key>PROJECT_ID</key>
	<string>fir-test-5410f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-5410f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926935124108:ios:fd38b8dd9ab23c0bc613a9</string>
</dict>
</plist>